<div class="episode-details">
<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
<p>
  <a href="{{ item.data.milestoneURL }}" target="_Blank" rel="noopener">Some of the questions</a> answered in this episode.
</p>
</div>
